/ThucHanh2/nbproject/private/
/ThucHanh2/build/
/TH2/nbproject/private/
/TH2/build/
/TH3/nbproject/private/
/TH3/build/
/ThucHanh3/nbproject/private/
/ThucHanh3/build/
/ThucHanh4/nbproject/private/
/ThucHanh4/build/
/TH4/nbproject/private/
/TH4/build/
