/ThucHanh2/nbproject/private/
/ThucHanh2/build/
/TH2/nbproject/private/
/TH2/build/
/TH3/nbproject/private/
/TH3/build/
/ThucHanh3/nbproject/private/
/ThucHanh3/build/
/ThucHanh4/nbproject/private/
/ThucHanh4/build/
/TH4/nbproject/private/
/TH4/build/
/TH5/nbproject/private/
/TH5/build/
/ThucHanh5/nbproject/private/
/ThucHanh5/build/
/th6/nbproject/private/
/th6/build/
/TH7/nbproject/private/
/TH7/build/
